@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация Организации";
}

<div class="row">
    <div class="col-3 container CenteredContainer text-center">
        @*<section>*@
        <form id="account" method="post">
            <h6 style="color:aliceblue;">Используйте свою учетную запись для входа в систему</h6>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Name" class="form-control" autocomplete="Name" aria-required="true" />
                <label asp-for="Input.Name" class="form-label"></label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <p></p>
          
            <div class="form-floating">
                <input asp-for="Input.INN" class="form-control" autocomplete="INN" aria-required="true" />
                <label asp-for="Input.INN" class="form-label"></label>
                <span asp-validation-for="Input.INN" class="text-danger"></span>
            </div>
            <p></p>
          
            <div class="form-floating">
                <input asp-for="Input.Adress" class="form-control" autocomplete="Adress" aria-required="true" />
                <label asp-for="Input.Adress" class="form-label"></label>
                <span asp-validation-for="Input.Adress" class="text-danger"></span>
            </div>
            <p></p>
          
            <div class="form-floating">
                <input asp-for="Input.Phone" class="form-control" autocomplete="Phone" aria-required="true" />
                <label asp-for="Input.Phone" class="form-label"></label>
                <span asp-validation-for="Input.Phone" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="Email" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
                <button id="login-submit" type="submit" class=" btn btn-primary">Регистрация</button>
            </div>
           
        </form>
    </div>

</div>





@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
